:root {
  --font-color-primary: #333;
  --font-color-secondary: #494848;
  --font-size-regular: 1.25rem;
  --font-weight-regular: 500;
  --background-color-primary: #fff;
  --background-color-secondary: #f8f6f5;
  --spacing-small: 1rem;
  --spacing-regular: 2rem;
  --border-radius-small: 4px;
  --box-shadow-primary: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 4px 2px;
  --z-index-mobile-menu: 1000;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
